{% extends "base.html" %}

{% load wagtailcore_tags static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block main_class %}blog{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    {% for post in page.get_children %}
        {% with post=post.specific %}
            <a href="{% pageurl post %}" class="undecorated">
                <article class="blog-summary">
                    <header>
                        <h2>{{ post.title }}</h2>
                    </header>
                    {{ post.summary }}
                </article>
            </a>
        {% endwith %}
    {% endfor %}
{% endblock %}