{% extends "base.html" %}

<!-- load wagtailcore_tags by adding this: -->
{% load wagtailcore_tags static %}

{% block main_class %}article{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/code.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
{% endblock %}

{% block content %}
  <article>
    <header>
      <h1>{{page.title}}</h1>
    </header>
    {% for section in page.body %}
      {% include_block section %}
    {% endfor %}
  </article>
{% endblock %}
