{% load static wagtailcore_tags wagtailuserbar navigation %}

{% wagtail_site as site %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% if site and site.site_name %}- {{ site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/axfive.css' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body>
        {% wagtailuserbar %}

        <div class="center-column">
            {% menu_pages site as menu_page_list %}
            {% if menu_page_list %}
            <nav class="main-navigation">
                <ul>
                    {% for page in menu_page_list %}
                    <li><a href="{% pageurl page %}"><div class="menuitem">{% menu_title page %}</div></a></li>
                    {% endfor %}
                </ul>
            </nav>
            {% endif %}

            <main class="{% block main_class %}{% endblock %}">
            {% block content %}{% endblock %}
            </main>
        </div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/axfive.js' %}" type="module" async></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
