:root {
  color-scheme: dark normal light;
}

/** Eventually allow the user to override color scheme preference. */
@media (prefers-color-scheme: dark) {
  :root  {
    --background: #120c24;
    --text-color: rgba(255, 255, 255, 0.9);
    --nav-background: #271a4e;
    --link-color: #c988ff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: white;
    --text-color: rgba(0, 0, 0, 0.9);
    --nav-background: #CCCCCC;
    --link-color: #8200ee;
  }
}

html {
  background-color: var(--background);
  color: var(--text-color);
}

a { 
  color: var(--link-color);
}

body {
  font-size: 1.2rem;
}

.center-column {
  max-width: 96ch;
  margin-left: auto;
  margin-right: auto;
}

.main-navigation {
 position: sticky;
 width: 100%;
 top: 1em;
}

.main-navigation ul {
  list-style: none;
  display: flex;
  width: 100%;
  padding: 0;
  gap: 1em;
}
.main-navigation li {
  display: inline-block;
  flex: auto;
  text-align: center;
  background-color: var(--nav-background);
}
.main-navigation li a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.menuitem {
  padding: 1em;
}

.undecorated {
  text-decoration: inherit;
  color: inherit;
}
